@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonte/HelveticaNeue\ Regular.ttf");
}

body {
    width: 60vw;
    margin: auto;
    padding: 30px;
    background-color: #ddd;
    color: #444;
    font-family: "Helvetica Neue";
    line-height: 1.5em;
}

main {
    
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1, h2 {
    color: rgb(140, 76,8);
}

.linha-divisoria {
    border-top: 2px solid gray; 
    margin: 20px 0;             
  }